* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    font-family: Helvetica, sans-serif;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

header h1 {
    text-align: center;
    padding: 19px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}

.menu li {
    position: relative;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(93, 16, 165);
    padding: 8px 12px;
    display: block;
}

.menu a:hover {
    background-color: bisque;
    transition: background-color 0.3s ease;
}

.servicesdd {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.servicesdd a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.servicesdd a:hover {
    background-color: #ddd;
}

/* Show dropdown on hover */
.services:hover .servicesdd {
    display: block;
}

.menu i {
    margin-right: 8px;
    font-size: 1rem;
    vertical-align: middle;
}